/app/phpspreadsheet/
/u449664.html
/u449664_laravel_dump.sql
/vendor.zip
/vendor_.tar
/vendor_bak.tar
/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
/storage/images/
/storage/files/
start.sh
/modules/log/get.log
/modules/log/post.log
/modules/log/get.log.bk
log-virus
sql.sql
kill-virus.sh
virus-list.txt
